h2{
    color:rgb(224, 39, 122);
}

body{
    background-color: #f7e0f9;
    color: rgb(15, 2, 67);
    font-family: Roboto;
    text-align: center;
}

header{
    border-bottom: 1px solid rgb(234, 229, 229);
}

footer{
    border-top: 1px solid rgb(207, 198, 198);
}

#nome-usuário{
    font-weight: bold;
}

.texto-inglês{
    font-style: italic;
}